{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
<div class="row">

  <div class="col-lg-9"> <!--map-->
    </div>

  <div class="col-lg-3" id="sidebar" >   <!--sidebar-->
    <div id="dropdownsBox"> <!--dropdowns-->
      <div class="dropdown row">
        <label style="display:block">Hotel</label>
        <select class="col-md-11">
            {% for hotel in allHotels %}
              <option value="{{hotel.name}}">{{hotel.name}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="dropdown row">
        <label style="display:block">Restaurants</label>
        <select class="col-md-11">
            {% for restaurant in allRestaurants %}
              <option value="{{restaurant.name}}">{{restaurant.name}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="dropdown row">
        <label style="display:block">Activities</label>
        <select class="col-md-11">
            {% for activity in allActivities %}
              <option value="{{activity.name}}">{{activity.name}}</option>
            {% endfor %}
        </select>
      </div>
    </div>
    <div id="itineraryBox"> <!--itinerary-->
      <div id="days">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>+</button>
      </div>
      <div id="daysItinerary">
        <label>My Hotel</label>
        <ul>
          <li>HOTELS FOR THE DAY</li>
        </ul>
        <label>My Restaurants</label>
        <ul>
          <li>RESTAURANTS FOR THE DAY</li>
        </ul>
        <label>My Activities</label>
        <ul>
          <li>ACTIVITIES FOR THE DAY</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}


