<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/stylesheets/index.css" rel="stylesheet">
  </head>
  <body>

    <div id = "navbar">
      <ol class="breadcrumb fixed-top">
        <li class="breadcrumb-item">
          <div class="glyphicon glyphicon-map-marker"></div>
          Trip Planner
        </li>
        <li class="active breadcrumb-item">
          <a href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">About</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Contact</a>
        </li>
      </ol>
    </div>

    {% block content %}
    {% endblock %}

    <script src="/jquery/jquery.min.js"/>

  </body>
</html>
